{% extends 'frontend/base.html' %}
{% load static %} 
{% block content %}
<style>
  .heroo {
    position: relative;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 200px;
    background-image: url('{% static 'img/ranamotorworks.jpg' %}');
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
  }
</style>
<!-- HERO SLIDER -->
<section class="hero-slider">
  <div class="slide active" style="background-image: url('{% static "img/devon-janse.jpg" %}')">
    <div class="slide-content">
      <h1>Experience Refined Luxury</h1>
      <p>Choose from Nigeria’s finest selection...</p>
    </div>
  </div>

  <div class="slide" style="background-image: url('{% static "img/rolls-royce-white.jpg" %}')">
    <div class="slide-content">
      <h1>Driving Excellence, One Car at a Time</h1>
      <p>At Zac Motors, we believe owning a car...</p>
    </div>
  </div>

  <div class="slide" style="background-image: url('{% static "img/jaguar-white.jpg" %}')">
    <div class="slide-content">
      <h1>Redefining the Future of Driving</h1>
      <p>Zac Motors combines technology...</p>
    </div>
  </div>

  <div class="slide" style="background-image: url('{% static "img/vadym-kudriavtsev.jpg" %}')">
    <div class="slide-content">
      <h1>Your Journey Begins with Zac Motors</h1>
      <p>Whether you’re buying, renting, or upgrading...</p>
    </div>
  </div>

  <div class="zac-btn-container">
    <a href="{% url 'showroom' %}" class="zac-btn">Explore More</a>
  </div>

  <div class="slider-nav">
    <span class="nav-dot active"></span>
    <span class="nav-dot"></span>
    <span class="nav-dot"></span>
    <span class="nav-dot"></span>
  </div>
</section>

<!-- SEARCH -->
<section class="search-box">
  <select>
    <option>Select Brand</option>
    <option>BMW</option>
    <option>Toyota</option>
    <option>Mercedes Benz</option>
  </select>

  <select>
    <option>Select Model</option>
    <option>2024</option>
    <option>2023</option>
  </select>

  <select>
    <option>Select Location</option>
    <option>Lagos</option>
    <option>Abuja</option>
  </select>

  <select>
    <option>Select Type of Car</option>
    <option>Sports</option>
    <option>SUV</option>
    <option>Truck</option>
  </select>

  <button class="search-btn"><i class="fas fa-search"></i> Search</button>
</section>

<!-- FLEET -->
<section class="fleet-section">
  <div class="fleet-con">
    <div class="luxury-flt">
      <h2>Our Luxury Fleet</h2>
      <p> Discover Our Exclusive Collection of Exotic Cars in Nigeria –
            Unmatched Elegance and Performance</p>
    </div>

    <div class="fleet-grid">
      <div class="car-card">
        <div class="car-img">
          <img src="{% static 'img/benz c300.jpg' %}" alt="">
        </div>
        <div class="car-content">
          <h3 class="car-title">Mercedes 4Matic C300</h3>
          <p class="car-year">2023 Model</p>
          <ul class="car-features">
            <li>Full Screen</li>
            <li>360 Camera</li>
            <li>All Wheel Drive</li>
          </ul>
          <div class="btn-btn">
            <a href="{% url 'buy' %}" class="car-btn">View Details</a>
          </div>
        </div>
      </div>

      <div class="car-card">
        <div class="car-img">
          <img src="{% static 'img/accord.jpg' %}" alt="">
        </div>
        <div class="car-content">
          <h3 class="car-title">Honda Accord</h3>
          <p class="car-year">2024 Model</p>
          <ul class="car-features">
            <li>Hybrid / EV</li>
            <li>EXL Edition</li>
            <li>Sun Roof</li>
          </ul>
          <div class="btn-btn">
            <a href="{% url 'buy' %}" class="car-btn">View Details</a>
          </div>
        </div>
      </div>

      <div class="car-card">
        <div class="car-img">
          <img src="{% static 'img/camry.jpg' %}" alt="">
        </div>
        <div class="car-content">
          <h3 class="car-title">Toyota Camry SE</h3>
          <p class="car-year">2022 Model</p>
          <ul class="car-features">
            <li>Thumb Start</li>
            <li>Radar Sensors</li>
            <li>360 Camera</li>
          </ul>
          <div class="btn-btn">
            <a href="{% url 'buy' %}" class="car-btn">View Details</a>
          </div>
        </div>
      </div>
    </div>

    <p> We offer a wide range of exotic cars tailored for your Nigeria's
          adventure. All Vehicles include insurance, GPS, and delivery to your
          location.</p>
    <a href="{% url 'showroom' %}" style="color:#0a1d3c;font-weight:bold;">View Full Fleet →</a>
  </div>
</section>

<!-- TESTIMONIALS -->
<section class="testimonials">
  <h2>What Our Customers Say</h2>
  <div class="test-grid">
    <div class="test-card">
      <p>“Zac Motors made my car purchase smooth and stress-free. Highly
            recommend!”</p>
      <h4>- David O.</h4>
    </div>
        <div class="test-card">
          <p>
            “Their booking system was simple and transparent. Excellent customer
            support!”
          </p>
          <h4>- Anita J.</h4>
        </div>
        <div class="test-card">
          <p>
            “I love my new car from Zac Motors. Quality service from start to
            finish.”
          </p>
          <h4>- Tunde A.</h4>
        </div>
      </div>
    </section>

    <!-- =========================================== -->

    <section class="heroo">
      <div class="inner-heroo">
        <h1>Find Your Dream Car with Zac Motors</h1>
        <p>
          Experience premium car buying and booking services with trusted
          experts ready to help you own or reserve the car you’ve always wanted.
        </p>
        <div class="hero-buttons">
          <a href="showroom.html" class="btn primary">Buy a Car</a>
          <a href="{% url 'buy' %}" class="btn secondary">Book Appointment</a>
        </div>
      </div>
    </section>
    <!-- ============================================ -->

    <section class="why-choose-us">
      <h2>Why Choose Us</h2>
      <p class="subtitle">
        As one of the best car dealers in Nigeria, we have the best price <br />
        And we have constantly put our customers first.
      </p>

      <div class="choose-us-items">
        <div class="item">
          <i class="fas fa-car fa-icon"></i>
          <h3>1,200+</h3>
          <p>Vehicles Sold Yearly</p>
        </div>

        <div class="item">
          <i class="fas fa-gauge-high fa-icon"></i>
          <h3>98%</h3>
          <p>Customer Satisfaction</p>
        </div>

        <div class="item">
          <i class="fas fa-certificate fa-icon"></i>
          <h3>100%</h3>
          <p>Brand New Vehicles</p>
        </div>
      </div>
    </section>
    <!-- =========================================== -->
    <!-- CONTACT -->
    <section class="contact">
      <h2>Contact Us</h2>
      <div class="contact-grid">
        <div class="contact-info">
          <h3>Get in Touch</h3>
          <p><i class="fa-solid fa-location-dot"></i> Abuja, Nigeria</p>
          <p><i class="fa-solid fa-phone"></i> +234 8030535894</p>
          <p><i class="fa-solid fa-envelope"></i> zacmotorsltd@gmail.com</p>
        </div>
        <div class="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d126094.2036827764!2d7.4846003!3d9.0574416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x104e0a5dd02f1d8f%3A0xb1c9e5a0f327669c!2sPlot%20387%2C%20Constitution%20Ave%2C%20Central%20Business%20District%2C%20Abuja!5e0!3m2!1sen!2sng!4v1731794400000!5m2!1sen!2sng"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            title="Our Location - Plot 387 Constitution Avenue Abuja"
          ></iframe>
        </div>
      </div>
    </section>


    
    
    {% endblock content %}
